.tripDiv{
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin: 0;
    margin-top: -50px;
}
.tripHeader{
    width: 100%;
    height: 500px;
    border-radius: 10px;
}
.overlay{
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.473), rgb(8, 8, 8));
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
.overlay h3{
    font-size: 35px;
}
.tour-div{
    height:max-content;
    width: 100%;
}
.tour-div p{
    color: white;
}
.tour-div img {
    height: 60%;
    width: 100%;
}
.bruck-div{
    width:100%;
    background-color: rgb(52, 50, 50);
    padding: 15px 20px;
}
.tours{
    margin-top: 30px;
    width: 100%;
    height: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    padding: 40px;
    /* border: solid darkblue; */
}
.tripContent{
    width: 100%; 
    height: max-content;
    margin-top: 20px;
}
.beach-all{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    width: 90%;
    height: max-content ;
    margin: auto;
    grid-gap: 25px;
}
.sort-cart{
    display: flex;
    gap: 50px;
    border: 1px solid gainsboro;
    padding: 9px 80px;
    z-index: 100;
    /* background-color: rgb(2, 2, 15); */
}
.sort-cart p{
    font-size: 16px;
    cursor: pointer;
}


@media screen and (max-width: 800px) {
    .tours{
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width: 650px) {
    .tours{
        grid-template-columns: repeat(1,1fr);
    }
}