@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: none;
}
.Nav1{
    width: 100%;
    /* border: 1px solid white; */
    position: fixed;
    z-index: 2;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11%;
    height: 50px;
    position: relative;
    font-family: "Roboto", sans-serif;
    padding-top: 27px;
    backdrop-filter: blur(2);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    
    
}
.hamburger{
    width: 50px;
    height: 50px;
    /* border: 1px solid white; */
    display: none;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 11%;
    border-bottom: 0.2px solid gray;
    backdrop-filter: blur(2);
    background-color: rgba(0, 0, 0, 0.201);
    position: fixed;
    z-index: 5;
    /* border: 1px solid white; */
}
.cs_gescout_sticky{
    background-color: rgba(0, 0, 0, 0.607);
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    backdrop-filter: blur(10px);
}

.logo{
    width: 70px;
    height: 50px;
    /* border: 2px solid white; */
    background-image: url(/src/assets/1mixlabphoto/Logo/MixLab_Logo_NoText.PNG); /** mixlab logo */
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

header .ul1{
    width: 50%;
    height: 40px;
    /* border: 1px solid white; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;
    /* font-weight: bold; */
}

.ul1 .li1{
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: white;
}
.search-bar{
    width: 18%;
    height: 40px;
    /* border: 2px solid white; */
    margin-right: 20px;
}


/* From Uiverse.io by garerim */ 
.container-input {
    position: relative;
  }
  
  .input {
    width: 150px;
    padding: 10px 0px 10px 40px;
    border-radius: 9999px;
    border: solid 2px white;
    background-color: transparent;
    color: white;
    transition: all .2s ease-in-out;
    outline: none;
    opacity: 0.8;
    font: 16px;
  }
  
  .container-input svg {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translate(0, -50%);
  }
  
  .input:focus {
    opacity: 1;
    width: 250px;
  }



@media screen and (max-width: 889px) {
    header .ul1{
    width: 55%;
    height: 40px;
    /* border: 1px solid white; */
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    font-size: 15px;
    cursor: pointer;
    /* font-weight: bold; */
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6%;
    border-bottom: 0.2px solid gray;
    backdrop-filter: blur(2);
    background-color: rgba(0, 0, 0, 0.201);
    position: fixed;
    z-index: 5;
}
}

@media screen and (max-width: 771px) {
    header .ul1{
        width: 50%;
        height: 40px;
        /* border: 1px solid white; */
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        font-size: 15px;
        cursor: pointer;
        /* font-weight: bold; */
    }
}

@media screen and (max-width: 755px) {
    header .ul1{
        width: 50%;
        height: 40px;
        /* border: 1px solid white; */
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        justify-content: space-between;
        font-size: 15px;
        cursor: pointer;
        display: none;
        /* font-weight: bold; */
    }
    .hamburger{
        width: 55px;
        height: 50px;
        /* border: 1px solid white; */
        display: block;
    }
}

@media screen and (max-width: 755px) {
    header{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20%;
        border-bottom: 0.2px solid gray;
        backdrop-filter: blur(2);
        background-color: rgba(0, 0, 0, 0.201);
        position: fixed;
        z-index: 5;
    }
}
@media screen and (max-width: 777px) {
    
}