

 * {
    margin: 0;
    border: 0;
    box-sizing: border-box;
 }
body {
    font-family: 'Roboto Slab', serif;
    background-color: black;
    color: white;
}
.about-section {
    width: 100%;
  position: relative;
  background-image: url('../../assets/mfs.jpg');
  height: 60vh; /* Adjust height based on design */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  /* animation: slideInTop 1.5s ease-out forwards; */
  margin-top: -50px;
}

.overlay{
    position: absolute; /* Ensures overlay is over the background */
    top: 0;
    left: 0;
    width: 100%; /* Cover entire width */
    height: 30vh; /* Cover entire height */
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.389), rgb(6, 6, 6));/* Darken the background with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
  }
  
  .overlay h1 {
    font-size: 48px; /* Adjust title size */
    font-weight: 700; /* Bold title */
    letter-spacing: 2px; /* Add letter spacing */
    text-transform: uppercase; /* Uppercase for "About Us" */
  }
  
  .overlay p {
    color: #f0e68c; /* Light yellow color */
    font-size: 16px; /* Adjust breadcrumb font size */
    letter-spacing: 1px;
    margin-top: 10px;
  }
  
  .overlay a {
    color: #fff; /* White link color */
    text-decoration: none;
  }
  
  .overlay a:hover {
    color: seagreen; /* Yellow on hover */
  }

  .firstpic {
    background-image: url('../../assets/portugal.avif');
    background-size: contain;
    height: 40vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    position: relative;
    /* border: 1px solid white; */
  }

  .secondpic {
    background-image: url('../../assets/spain.avif');
    background-size: contain;
    height: 40vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    position: relative;
    /* border: 1px solid white; */
  }

  .thirdpic {
    background-image: url('../../assets/liverpool.avif');
    background-size: contain;
    height: 40vh;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33.3%;
    position: relative;
    /* border: 1px solid white; */
  }

  .diffplaces {
    margin-top: 150px;
    background-color: rgba(32, 32, 32, 0.304);
    padding-left: 150px;
    padding-right: 150px;
    width: 100%;
    display: flex;
    gap: 100px;
    /* animation: slideInLeft 1.5s ease-out forwards; */
  }
  
  .firstpicoverlay {
    position: absolute; /* Ensures overlay is over the background */
    top: 0;
    left: 0;
    width: 100%; /* Cover entire width */
    height: 100%; /* Cover entire height */
    background-color: rgba(0, 0, 0, 0.582);/* Darken the background with transparency */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    /* border: 1px solid white; */
  }

  .text {
     position: absolute;
     display: flex;
     align-items: center;
     left: 0;
     bottom: 0;
     padding: 40px;
     gap: 10px;
  }

  .places {
    padding: 5px;
    background-color: rgb(20, 143, 162);
    border-radius: 10px;
  }

  .historyshi {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 100px;
    animation: slideInRight 1.5s ease-out forwards;
  }

  .about {
    font-size: 50px;
    color: rgb(20, 143, 162);
    margin-bottom: 40px;
  }

  .leftside {
    width: 50%;
  }

  .scope, .history {
      font-size: 27px;
      line-height: 2;
  }

  .history {
    margin-top: 30px;
  }

   .rightside {
    width: 50%;
   }

  .sunlight {
      width: 100%;
      border-radius: 5px;
  }

  .services {
     margin-top: 140px;
     padding-left: 150px;
     padding-right: 150px;
     animation: slideInBottom 1.5s ease-out forwards;
  }

  .serviceheader {
    text-align: center;
    color: rgb(20, 143, 162);
    font-size: 60px;
  }

  .motto {
      font-size: 25px;
      text-align: center;
      margin-top: 40px;
      margin-bottom: 40px;
  }

  .flight {
    font-size: 140px;
    color: rgb(20, 143, 162);
  }

  .variety {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .servicegrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 55px;
  }

  .eachservice {
    display: flex;
    align-items: center;
    gap: 30px;
    border: 1px solid rgb(20, 143, 162);
    padding: 20px;
    border-radius: 5px;
    transition: 0.3s;
  }

  .eachservice:hover {
     box-shadow: 5px 2px 10px 5px rgb(20, 143, 162);
     transition: 0.3s;
     cursor: pointer;
  }

  .unique {
    font-size: 20px;
    line-height: 1.5;
  }

  .leftstuff {
    width: 50%;
  }

  .how {
    width: 50%;
  }

  .work {
    border-bottom: 3px solid white;
    padding: 10px;
  }

  .values {
    font-size: 20px;
    padding: 10px;
    line-height: 1.7;
  }

  .years {
    width: 50%;
    font-size: 150px;
    color: rgb(20, 143, 162);
  }

  .year {
    font-size: 20px;
    color: white;
  }

  .topleftstuff {
    display: flex;
    gap: 70px;
  }

  .bottomleft {
    margin-top: 230px;
  }
  .curve {
     font-size: 55px;
  }

  .idk {
    font-size: 20px;
    line-height: 1.8;
    margin-top: 30px;
  }

  .check {
    font-size: 20px;
    color: rgb(20, 143, 162);
  }

  .each-check {
    display: flex;
    align-items: center;
    margin-top: 40px;
    gap: 30px;
  }

  .affordable {
    font-size: 20px;
    
  }

  .rightstuff {
    width: 50%;
  }

  .wing {
    width: 100%;
  }

  .finalbanner {
    padding-left: 150px;
    padding-right: 150px;
    margin-top: 250px;
    animation: slideInBottom 1.5s ease-out forwards;
  }

  .innerdiv {
    background-color: white;
    border-radius: 50px;
    width: 100%;
    display: flex;
    align-items: center;
  }

  .lefttext {
    color: rgb(20, 143, 162);
    font-weight: bold;
    font-size: 60px;
    width: 50%;
    padding: 60px;
  }

  .imgdiv {
    width: 50%;
  }

  .suitcase {
    width: 90%;
  }
  @keyframes slideInTop {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInLeft {
    0% {
      transform: translateX(-100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  
  @keyframes slideInBottom {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @media screen and (max-width: 1890px){
       .topleftstuff {
        flex-direction: column;
        gap: 5px;
       }

       .how {
        width: 100%;
       }

       .jeep {
        width: 100%;
       }

       .history, .scope {
        font-size: 19px;
       }

       .variety {
        font-size: 30px;
       }

       .unique {
        font-size: 18px;
       }
  }

  @media screen and (max-width: 1400px){
      .curve {
        font-size: 40px;
      }

      .idk {
        font-size: 18px;
      }

      .affordable {
        font-size: 18px;
      }

      .servicegrid {
        grid-template-columns: repeat(2, 1fr);
      }

      .lefttext {
        font-size: 40px;
      }
  }

  @media screen and (max-width: 1106px){
    .historyshi {
        flex-direction: column;
    }

    .rightside, .leftside {
        width: 100%;
    }

    .diffplaces, .historyshi, .services, .finalbanner {
        padding-left: 70px;
        padding-right: 70px;
    }
  }

  @media screen and (max-width: 900px){
      .lefttext {
         font-size: 29px;
      }
  }

  @media screen and (max-width: 835px){
        .years {
            font-size: 50px;
        }

        .servicegrid {
            grid-template-columns: repeat(1, 1fr);
        }

        .diffplaces {
            flex-direction: column;
        }

        .leftstuff, .rightstuff {
             width: 100%;
        }
  }

  @media screen and (max-width: 490px){
      .serviceheader {
        font-size: 30px;
      }

      .motto {
        font-size: 16px;
      }

      .variety {
        font-size: 20px;
      }

      .unique {
        font-size: 16px;
      }

      .innerdiv {
        flex-direction: column;
      }

      .lefttext, .imgdiv {
        width: 100%;
      }

      .lefttext {
        font-size: 25px;
      }

      .curve {
        font-size: 25px;
      }

      .idk {
        font-size: 16px;
      }

      .affordable {
        font-size: 16px;
      }

      .about {
        font-size: 30px;
      }

      
      
    }

  @media screen and (max-width: 420px){
       .services {
        padding-left: 30px;
        padding-right: 30px;
       }
  }
  